.easily-arrived-sec{
    margin-top: 120px;
    padding-top: 20px;
}
.easily-arrived-container.flex-between{
    align-items: flex-start;
    gap: 20px;
}
.easily-arrived-container .general-search{
    flex-grow: 1.5;
}
.easily-arrived-container .specific-search{
    flex-grow: 1;
}
.easily-arrived-container .general-search .top-part , .easily-arrived-container .general-search .bottom-part{
    border: 1px solid rgb(209, 208, 208);
    padding: 10px 10px 2px 10px;
}
.top-part h3{
    margin-bottom: 15px;
}
.tabs-parent-container.flex{
    justify-content: center;
    gap: 100px;
}
.tab-parent{
    position: relative;
}
.tab-parent::after{
    content: "";
    position: absolute;
    bottom: -3px;
    width: 50px;
    height: 3px;
    transform: translatex(50%);
    background-color: blue;
    text-align: center;
}
.tab-parent p{
    padding-top: 3px;
}
.easily-arrived-container .general-search .bottom-part{
    /* margin-top: 10px; */
    border-top: none;
    padding: 20px 10px;
}
.input-area{
    position: relative;
}
.input-area input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(209, 208, 208);
}
.input-area i{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translatey(-50%);
}
.marka-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 15px 0;
    gap: 10px;
}
.marka-box{
    border: 1px solid rgb(209, 208, 208);
    padding: 8px 0;
}
.marka-box img{
    width: 50px;
    height: 50px;
    margin: 0 auto 3px auto;
}
.marka-btn{
    width: 100%;
    padding: 10px 0;   
}
.marka-btn.flex{
    justify-content: center; 
    gap: 10px;
    background-color: rgb(34, 132, 223);
    color: white;  
}
.details-btn , .quick-search-btn{
    color: white;
    padding: 10px; 
    width: 100%;
}
.details-btn {
    background-color: rgb(221, 198, 66);
    margin-bottom: 25px;
}
.quick-search-btn{
    background-color: rgb(34, 132, 223); 
    border-radius: 10px;
}
.pair-container{
    margin: 20px 0;
}
.pair-container select{
    width: 45%;
    padding: 7px 2px 7px 7px;
}
.product-section{
    margin: 50px 0;
}
.show-all-btn{
    background-color: rgb(34, 132, 223); 
    color: white;
    padding: 7px;
    border-radius: 8px;
}

.heading.flex-between{
    align-items: flex-start;
}
.products-container{
    padding: 15px 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}
.product-box{
    border: 1px solid rgb(224, 224, 224);
}

.product-box figure{
    position: relative;
}
.product-box img{
    width: 100%;
    height: 300px;
}
.product-box .heart{
    position: absolute;
    top: 20px;
    left: 30px;
    background-color: white;
    padding: 8px;
    line-height: 8px;
}
.product-info{
    padding: 6px;
}
.product-model{
    margin: 10px 0;
}
.product-details{
    margin-top: 15px;
}
.product-details.flex-between{
    justify-content: unset;
    flex-wrap: wrap;
    gap: 10px;
}
.product-details .light , .product-details .dark{
    padding: 10px;
    border-radius: 8px;
}
.product-details .light{
    background-color: rgb(119, 176, 199);
}
.product-details .dark{
    background-color: rgb(223, 220, 220);
}
.pagination-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}
.pagination-container .chevron{
    margin: 0 3px;
}
.pagination-container .previous , .pagination-container .next{
    background-color: rgb(223, 220, 220);
    padding: 10px 13px;
    border-radius: 8px;
}
.pagination-container .numbers li{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(204, 201, 201);
}
.pagination-container .numbers li:nth-child(2){
    margin: 0 7px;
}
/* media-query */
@media(max-width: 1440px){
    /* products-section */
    .products-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width: 990px){
    /* easily-arrived-section */
    .tabs-parent-container.flex{
        justify-content: space-between;
        gap: 20px;
        padding: 0 15px;
    }
}
@media(max-width: 768px){
    /* easily-arrived-section */
    .easily-arrived-container.flex-between{
        flex-direction: column;
    }
    .easily-arrived-container .general-search , .easily-arrived-container .specific-search{
        flex-grow: unset;
        width: 100%;
    }
    /* products-section */
    .products-container{
        grid-template-columns: repeat(1,1fr);
    }
}
@media(max-width: 425px){
    /* easily-arrived-section */
    .tabs-parent-container.flex{
        padding: unset;
    }
    .tab-parent::after{
        width: 100%;
    }
    .marka-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(max-width: 320px){
    /* easily-arrived-section */
    .tabs-parent-container.flex{
        gap: 10px;
    }
    .tab-parent p{
        font-size: 0.7rem;
    }
    .marka-container {
        grid-template-columns: repeat(2, 1fr);
    }
    /* products-section */
    .pagination-container{
        gap: 10px;
    }
    .pagination-container .previous, .pagination-container .next {
        padding: 10px 5px;
        border-radius: 3px;
    }
}