/* general-styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: unset;
    display: block;
}
li{
    list-style: none;
}
/* common-styles */
.container{
    width:90%;
    margin: auto;
}
.flex{
    display: flex;
    align-items: center;
    gap: 3px;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-center{
    text-align: center;
}

/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgb(201, 197, 197);
    background-color: white;
    z-index: 100;
    padding-top: 15px;
}
/* .site-brand{
    margin-right: -10px;
} */
.header-search{
    position: relative;
}
.header-search input{
    width: 100%;
    padding: 8px 27px;
}
.header-search i{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
nav.flex{
    gap: 15px;
}
nav a.flex{
    gap: 4px;
}
.mob-device{
    display: none;
}
.sub-nav{
    margin-top: 20px;
}
.sub-nav.flex{
    gap: 30px;
}
.cars , .motors{
    position: relative;
}
.menu{
    position: absolute;
    top: 16px;
    right: 0;
    border: 1px solid black;
    border-top: none;
    width: 500px;
    padding: 10px;
    z-index: 5;
    background-color: white;
}
.menu .part:nth-child(2){
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 15px;
}
.cars-menu , .motors-menu{
    display: none;
    /* opacity: 0; */
    transition: 0.5s;
}
.menu:hover .cars-menu , .menu:hover .motors-menu{
    display: flex;
}
.cars-header:hover + .cars-menu , .motors-header:hover + .motors-menu {
    display: flex;
    opacity: 1;
}
.menu.flex{
    align-items: flex-start;
    gap: 20px;
}
.menu .part-heading{
    margin-bottom: 15px;
}
.menu .sub-part{
    margin-bottom: 8px;
}
/* footer */
footer{
    background-color: rgb(17, 30, 46);
    color: white;
    padding: 10px 0;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.footer-container h2{
    margin-bottom: 15px;
}
.footer-container .email{
    word-break: break-all;
}
.column li{
    margin-bottom: 5px;
}
footer .envelope{
    font-size: 1.3rem;
}
footer .languages{
    margin-top: 10px;
}
footer .languages.flex{
    gap: 8px;
}
footer .languages button{
    padding: 8px 10px;
    border-radius: 6px;
    color: white;
}
footer .languages button.active{
    background-color: blue;
}
footer .languages button.not-active{
    background-color: transparent;
    border-color: white;
}
footer hr.container{
    margin: 15px auto;
}
.copy-right div.flex{
    gap: 10px;
}
/* media-query */
@media(max-width: 990px){
    .footer-container {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 30px;
    }
    .email-column{
        grid-column: span 5 / 6;
    }
    .email-flex.flex-between{
        justify-content: unset;
        gap: 15px;
    }
}
@media(max-width: 768px){
    /* header */
    .header-search , .nav .langauge , .nav .sign{
        display: none;
    }
    .mob-device{
        display: flex;
        gap: 15px;
    }
}
@media(max-width: 425px){
    /* common-styles */
    .container{
       width:95%;
    }
    /* footer */
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }
    .email-column {
        grid-column: 1;
        width: 170%;
    }
    .copy-right.flex-between {
        justify-content: center;
        flex-wrap: wrap-reverse;
        gap: 8px;
    }
}